/* ---------------------------------------------------------
                           Varibles
   ---------------------------------------------------------*/
// Common colors
$black: #000;
$white: #fff;
$orange: #ffa500;
$blue: #007fe3;
$dark: #1a1a1a;  //for preloader
$gray: #555555;

// Site colors
$over: #555556;
$main: #362f2d;
$beige: #d3c1ae;         // for decoration
$accent: #c7b299;           // beige for text
$light-brown: #998675;     // button
$light-gray: #8c8c8c;      // gray text
$light-black: #1a1a1a;     // headings

// Fonts
$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $light-gray !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.7 !default;                          // 1.6 standart
$base-font-family: 'Montserrat-Light', $base-font-sans-serif !default;
$vertical-rhythm: $line-height-base;
$base-min-width: 320px;

// Liks
$base-link-color: $gray;

// Buttons 
$btn-color: $white !default;
$btn-background: $light-brown !default;
$btn-padding: 0.4em 0.7em !default;
$btn-border-radius: 0.125em;
$btn-font-size: 14px !default;

// Forms
$form-element-padding: 8px 17px !default;
$form-element-border-color: #f3f3f3 !default;
$form-element-focus-border-color: $blue !default;
$placeholder-color: #898989 !default;

// Headers
$h1-font-size: 3.125em !default;   // 50px
$h2-font-size: 1.875em !default;  // 30px
$h3-font-size: 1.25em !default;   // 20px
$h4-font-size: 19px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;
$headings-font-family: 'RalewaySemiBold' !default;
$headings-color: $gray !default;

$animation-speed: 0.3s;
