/* ---------------------------------------------------------
                            Main
   ---------------------------------------------------------*/
.carousel {
  position: relative;
}

.carousel-item {
  display: flex;
  height: 100vh;
  min-height: 700px;
}

.carousel-content {  //36
  width: 600px;
  margin: auto;
  color: $white;
  text-align: center;
  padding-top: 10px;

  &__h2 {
    font-family: RalewayMedium;
    font-size: 36px;
    margin: 0;
    line-height: 1.2;
    color: $white;

    @include media("<480px") {
      font-size: 1.6em;
      margin-bottom: 15px;
    }
  }
  
  &__header {
    font-family: RalewayExtraBold;
    margin: 0;
    letter-spacing: 1.3px;
    color: $white;

    @include media("<480px") {
      font-size: 2.7em;
      line-height: 1em;
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-top: 5px;
  }

  &__button {
    margin-top: 35px;
  }
}

.owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  margin-top: -18px;
  width: 100%;
  z-index: 2;
  font-size: 25px;
  color: $white;
}

.owl-prev,
.owl-next {
  position: absolute;

  &:hover {
    .carousel__nav {
      border-color: $beige;
    }
  }
}

.owl-prev {
  left: 15px;
  @include media(">1800px") {
    left: -215px;
  }
}
.owl-next {
  right: 15px;
  @include media(">1800px") {
    right: -215px;
  }
}

.carousel__nav {
  width: 53px;
  height: 53px;
  background: transparent;
  border-bottom: 3px solid $white;
  border-left: 3px solid  $white;
  transform: rotate(45deg);
  opacity: .5;
  @extend %transition;
}

.owl-next {
  .carousel__nav {
    transform: rotate(225deg);
  }
}

.owl-carousel .owl-item {
  backface-visibility: inherit;
}

.owl-dots {
  position: absolute;
  bottom: 37px;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background: rgba(255, 255, 255, .5);
  border: 2px solid transparent;
  vertical-align: middle;
  @extend %transition;

  &.active {
    background: transparent;
    border: 2px solid $beige;
    box-sizing: content-box;
  }
}

/* s-products */

.s-products {
  padding: 70px 0 30px;
}

.products {
  display: block;
  text-align: center;
  color: $gray;
  margin-bottom: 30px;

  &__header {
    margin: 10px 0 15px;
    @extend %transition;
  }
  
  &__text {
    position: relative;
    color: $light-gray;
    padding-bottom: 30px;
    font-size: 0.875em;
    @extend %transition;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 70px;
      height: 3px;
      transform: translate(-50%);
      background: #f1eee9;
      @extend %transition;
    }
  }

  .products__icon {
    height: 70px;
    display: block;
    font-size: 45px;
    display: flex;
    font-family: 'waxom-icons';
    align-items: center;
    justify-content: center;
    @extend %transition;
  }

  .icon-hat,
  .icon-suitcase {
    font-size: 38px;
  }

  .icon-pan {
    font-size: 49px;
  }

  &:hover {
    .products__icon,
    .products__header {
      color: $accent;
      @extend %transition;
    }

    .products__text::after {
      background: $accent;
    }
  }
  
  &:active,
  &:visited,
  &:focus {
    color: $gray;
  }
}

/* s-ideas */

.s-ideas {
  padding-top: 92px;
  padding-bottom: 100px;
  text-align: center;
  background: #fbfaf8;

  &__header {
    margin-bottom: 15px;
  }
}

/* theme */

.s-theme {
  background-image: linear-gradient(to right, #211b19, #4e3428);
  padding: 40px 0 35px;
  color: $accent;

  &__header {
    margin-bottom: 0px;
    color: $white;
    font-size: 1.75em;
    font-family: 'RalewayRegular';

    &_beige {
      color: $accent;
    }
  }

  &__text {
    opacity: .3;
    line-height: 1.25em;
  }

  &__button {
    padding: 1.036em 1.81em;

    &_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include media("<tablet") {
        justify-content: flex-start;
      }
    }
    
    &_nopad {
      @include media(">tablet") {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}















  // @extend %flex;
  // @extend %clearfix;
  // @extend %transition;            // (all .5s ease)
  // @extend %listreset;             // (margin:0; padding:0; list-style: none;)

  // @include animate(color)         // (transform opacity, .6s) // (visibility opacity); (0.3s ease-in-out)
  // @include size(16px)             // (15px, 4px);
  // @include v-align(157px);
  // @include font(14px,18px,#000);  // (font-size, line-height, color)


  // font: italic 15px/1.75 'Times New Roman';
  // @include center_transform();
  // @include verrical_center_transform();
  // @include gradient(left, right, rgba(0,0,0,1), rgba(255,255,255,1));
  // @include button(#000,1px,#f0f0f0,25px,16px,19px,40px,20px);


  // media queries

  //@include media("<1200px", ">991px") {
  //}

  //@include media("<480px") {
  //}

  //@include media(">=480px") {
  //}
  //768
  //@include media("<tablet") {
  //}

  //@include media(">=tablet") {
  //}

  //@include media("<992px") {
  //}

  //@include media(">=992px") {
  //}

  //@include media("<1200px") {
  //}

  //@include media(">=1200px") {
  //}






